.background {
    background-color: #4683ff;
    height: 100vh;
    width: 100vw;
}
html{
    background: url("../image/background.jpg") no-repeat center center fixed;

}
.background-image {
    height: 100vh;
    width: 100vw;
    background: url("../image/background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*height: 100vh;*/
    /*width: 100vw;*/
    /*background: url("../image/background.jpg") fixed;*/
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*background-size: cover;*/
    /*background-size:cover;*/
    /*transition: all 1s ease;*/
    /*-moz-transition: all 1s ease;*/
    /*-ms-transition: all 1s ease;*/
    /*-webkit-transition: all 1s ease;*/
    /*-o-transition: all 1s ease;*/

}

html,body{
    position: relative;
    height: 100%;
}

.login-container{
    position: relative;
    width: 300px;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 40px 40px;
    text-align: center;
    background: #4973cc;
    border: 1px solid #4973cc;
}
.my-container{
    position: relative;
    width: 80vw;
    height:80vh;
    margin: 10vh auto;
    padding: 20px 40px 40px;
    text-align: center;
    background: #4973cc;
    border: 1px solid #4973cc;
}
/*.my-container::before,.my-container::after{*/
    /*content: "";*/
    /*position: absolute;*/
    /*width: 100%;height: 100%;*/
    /*top: 3.5px;left: 0;*/
    /*background: #4973cc;*/
    /*z-index: -1;*/
    /*!*-webkit-transform: rotateZ(4deg);*!*/
    /*!*-moz-transform: rotateZ(4deg);*!*/
    /*!*-ms-transform: rotateZ(4deg);*!*/
    /*border: 1px solid #4973cc;*/

/*}*/

#output{
    position: absolute;
    width: 300px;
    top: -75px;
    left: 0;
    color: #fff;
}

#output.alert-success{
    background: rgb(25, 204, 25);
}

#output.alert-danger{
    background: rgb(228, 105, 105);
}


/*.login-container::before,.login-container::after{*/
    /*content: "";*/
    /*position: absolute;*/
    /*width: 100%;height: 100%;*/
    /*top: 3.5px;left: 0;*/
    /*background: #4973cc;*/
    /*z-index: -1;*/
    /*!*-webkit-transform: rotateZ(4deg);*!*/
    /*!*-moz-transform: rotateZ(4deg);*!*/
    /*!*-ms-transform: rotateZ(4deg);*!*/
    /*!*border: 1px solid #4973cc;*!*/

/*}*/

.login-container::after{
    top: 5px;
    z-index: -2;
    /*-webkit-transform: rotateZ(-2deg);*/
    /*-moz-transform: rotateZ(-2deg);*/
    /*-ms-transform: rotateZ(-2deg);*/

}



.avatar{
    width: 100px;height: 100px;
    margin: 10px auto 30px;
    border-radius: 100%;
    border: 2px solid #aaa;
    background-size: cover;
}

.form-box input{
    width: 100%;
    padding: 10px;
    text-align: center;
    height:40px;
    border: 1px solid #e8e8e8;;
    background: #e8e8e8;
    transition:0.2s ease-in-out;

}

.form-box input:focus{
    outline: 0;
    background: #b3ccc5;
}

.form-box input[type="text"]{
    border-radius: 5px 5px 0 0;
    text-transform: lowercase;
}

.create input[type="text"]{
    border-radius: 5px 5px 5px 5px;
    text-transform: lowercase;
    margin-top: 10px;
}



.form-box input[type="password"]{
    border-radius: 5px 5px 0 0;
    text-transform: lowercase;
}
.create input[type="password"]{
    border-radius: 5px 5px 5px 5px;
    text-transform: lowercase;
    margin-top: 10px;
}
.form-box button.login{
    margin-top:15px;
    padding: 10px 20px;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        -ms-transform: translateY(20px);
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}
.glyphicon {
    font-size: 8vh;
}
.my-row{
    height: 50%;
}
a {
    color: #121a26;
}
.my-row a:hover{
    background-color: #7f9acc;
    text-decoration: none;
    height: 100%;

}
.my-row i{
    margin-top:10vh;
}

.form-control{
    border-radius: 5px 5px 0 0;
    text-transform: lowercase;
}
.form-control {
    border-radius: 5px 5px 5px 5px;
    text-transform: lowercase;
    margin-top: 10px;
}
.avatar .glyphicon{
    font-size: 60px;
    margin-top:13px;
    margin-left:-4px
}
.avatar a:hover{
    text-decoration: none;

}