.background-color{
    -fx-background-color: #5177ed;
    -fx-background:#5177ed;
}


.vbox .label  {
    -fx-background-color: cornflowerblue;
    -fx-pref-width: 250px;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-padding: 5px;
    -fx-border-insets: 10px;
    -fx-alignment: center;
}

.vbox .label:hover  {
    -fx-background-color: #6c9aed;
    -fx-pref-width: 250px;
    -fx-alignment: center;
    -fx-font-size: 16px;
}


.background-color .menu-bar{
    -fx-background-color: #6c9aed;
}
.element-background{
    -fx-background-color: deepskyblue;
}
.field-background{
    -fx-background-color: #60aaed;
}
.field-background:selected {
    -fx-background-color: #86c3f8;
}
.field-background:pressed {
     -fx-background-color:#6f64ff;
 }
.field-background:hover {
    -fx-background-color: #86c3f8;
}

.image-background{
    -fx-background-color: #60aaed;
}
.font-label-roomname{
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}